@font-face {
  font-family: Ubuntu;
  src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url('../fonts/Montserrat/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: Montserrat-Black;
  src: url('../fonts/Montserrat/Montserrat-Black.ttf')
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('../fonts/Montserrat/Montserrat-Light.ttf');
}

body {
  font-family: 'Montserrat-SemiBold';
  text-align: center;
}

h1,h2,h3,h4,h5,h6 {
  font-family:'Montserrat-Bold';
  /* font-family: 'Montserrat-SemiBold'; */
}

/* h2 {
  font-family: 'Montserrat-SemiBold';
  font-size: 3rem;
  line-height: 1.5;
} */

h3 {
  font-family: 'Montserrat-Black';
  font-size: 1.5rem;
}

p {
  color: #8f8f8f;
}

/* HEADINGS */

.big-heading{
  font-family: 'Montserrat-Black';
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding:7% 15%;
}

/* Sections */

.colored-section{
  color: #fff;
  background-color: #ff4c68;
}

.white-section{
    background-color: #fff;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat-Light';
}

.navbar-brand {
  font-family: Ubuntu;
  font-size: 2.5rem;
  font-weight: bold;
}

.rotate25 {
  transform: rotate(25deg);
}



/* DOWNLOAD BUTTONS */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title .container-fluid{
  text-align: left;
  padding: 3% 15% 7%;
}

/* TITLE IMAGE */
.title-image {
  width: 60%;
  position: absolute;
  right: 30%;
}

/* FEATURES SECTION */
#features {
  padding: 7% 15%;
  position: relative;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonial section */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;

}

.pricing-column {
  padding: 3% 2%;
}

.price-text{
  font-size: 3rem;
  line-height: 1.5;
}

/* CTA Section */



/* .foot{
    font-family: 'Montserrat-Black';
    font-size: 3.5rem;
    line-height: 1.5;
} */

/* Footer Section */


.social-icon{
  margin: 20px 10px;
}

@media (max-width:1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
